:root {
  --decorado: #6956af;
}

/************************************************************* 
  MOBILE VIEW
*************************************************************/
.descripcion {
  width: 100%;
  height: calc(100vh - 4rem);
  overflow: auto;
}

/* Animación del ¡Hola! */
h1 {
  padding-top: 1rem;
}

#saludo {
  display: block;
  margin: 0 auto;
  animation: fill-letter 2s linear forwards;
}
    
#saludo path:nth-child(1) {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
  animation: letter-anim 2s linear forwards;
}
#saludo path:nth-child(2) {
  stroke-dasharray: 135;
  stroke-dashoffset: 135;
  animation: letter-anim1 2s linear forwards;
}
#saludo path:nth-child(3) {
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
  animation: letter-anim2 2s linear forwards;
}
#saludo path:nth-child(4) {
  stroke-dasharray: 66;
  stroke-dashoffset: 66;
  animation: letter-anim3 2s linear forwards;
}
#saludo path:nth-child(5) {
  stroke-dasharray: 112;
  stroke-dashoffset: 112;
  animation: letter-anim4 2s linear forwards;
}
#saludo path:nth-child(6) {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
  animation: letter-anim5 2s linear forwards;
}

@keyframes letter-anim {
  from{stroke-dashoffset: 68;}
  to{stroke-dashoffset: 0;}
}

@keyframes letter-anim1 {
  0%{stroke-dashoffset: 135;}
  15%{stroke-dashoffset: 135;}
  100%{stroke-dashoffset: 0;}
}

@keyframes letter-anim2 {
  0%{stroke-dashoffset: 95;}
  30%{stroke-dashoffset: 95;}
  100%{stroke-dashoffset: 0;}
}

@keyframes letter-anim3 {
  0%{stroke-dashoffset: 66;}
  45%{stroke-dashoffset: 66;}
  100%{stroke-dashoffset: 0;}
}

@keyframes letter-anim4 {
  0%{stroke-dashoffset: 112;}
  60%{stroke-dashoffset: 112;}
  100%{stroke-dashoffset: 0;}
}

@keyframes letter-anim5 {
  0%{stroke-dashoffset: 68;}
  75%{stroke-dashoffset: 68;}
  100%{stroke-dashoffset: 0;}
}

@keyframes fill-letter {
  0%{fill: transparent;}
  80%{fill: transparent;}
  100%{fill: #fff;}
}

/* Animación de los títulos */
.titulos {
  width: 90%;
  margin: 1rem auto 0.5rem;
  font-size: 1.5rem;
}

.titulos__texto {
  color: var(--decorado);
  font-weight: bold;
  font-size: 1.75rem;
}

/* Texto de la descripción */
.descripcion__texto {
  width: 90%;
  margin: 0 auto 2rem;
  text-align: justify;
  font-size: 1.15rem;
  letter-spacing: 0.15rem;
}

/************************************************************* 
  DESKTOP VIEW
*************************************************************/
@media screen and (min-width: 1000px) {
  .descripcion {
    width: 55%;
    height: 100%;
  }
}