/************************************************************* 
  MOBILE VIEW
*************************************************************/
.imgPc {
  display: none;
}

/************************************************************* 
  DESKTOP VIEW
*************************************************************/
@media screen and (min-width: 1000px) {
  .imgPc {
    display: block;
    width: 30%;
    height: 100%;
    object-fit: cover;
  }
}