/************************************************************* 
  MOBILE VIEW
*************************************************************/
.imgPhone {
  display: block;
  width: 75%;
  margin: 0 auto;
}

/************************************************************* 
  DESKTOP VIEW
*************************************************************/
@media screen and (min-width: 1000px) {
  .imgPhone {
    display: none;
  }
}