/* 
  Se utilizará la fuente Poppins para los títulos 
  y la fuente Open Sans para el resto del texto
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --decorado: #6956af;
  --decorado1: #fb5b0f;
  --backgroundBody: #111;
  --text: #fff;
  --scrollbarTrack: #6956af55;
  --scrollbarBtnActive: #281a5e;
  --scrollbarThumb: rgba(0, 0, 0, 0.5);
  --scrollbarThumbHover: rgba(0, 0, 0, 0.75);
  --scrollbarThumbActive: rgba(0, 0, 0, 0.85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************************* 
  MOBILE VIEW
*************************************************************/
body {
  background: var(--backgroundBody);
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  color: var(--text);
  width: 100%;
  min-height: 100vh;
  position: relative;
}


/************************************************************* 
  DESKTOP VIEW
*************************************************************/
@media screen and (min-width: 1000px) {
  body::before {
    content: '';
    background-color: var(--decorado);
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 10% 0, 20% 100%, 0% 100%);
    position: absolute;
    z-index: -5;
  }

  /* ESTILZANDO LAS BARRAS DE SCROLL */
  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbarTrack);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbarThumbHover);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbarThumbActive);
  }

  ::-webkit-scrollbar-button:increment:horizontal {
    background-color: var(--decorado);
    background-image: url(./assets/icons8-adelante-24.png);
    background-size: cover;
  }

  ::-webkit-scrollbar-button:increment:horizontal:active {
    background-color: var(--scrollbarBtnActive);
  }

  ::-webkit-scrollbar-button:decrement:horizontal {
    background-color: var(--decorado);
    background-image: url(./assets/icons8-atrás-24.png);
    background-size: cover;
  }

  ::-webkit-scrollbar-button:decrement:horizontal:active {
    background-color: var(--scrollbarBtnActive);
  }

  ::-webkit-scrollbar-button:increment:vertical {
    background-color: var(--decorado);
    background-image: url(./assets/icons8-chevron-abajo-24.png);
    background-size: contain;
  }

  ::-webkit-scrollbar-button:increment:vertical:active {
    background-color: var(--scrollbarBtnActive);
  }

  ::-webkit-scrollbar-button:decrement:vertical {
    background-color: var(--decorado);
    background-image: url(./assets/icons8-chevron-para-arriba-24.png);
    background-size: contain;
  }

  ::-webkit-scrollbar-button:decrement:vertical:active {
    background-color: var(--scrollbarBtnActive);
  }

  ::-webkit-scrollbar-corner {
    background-color: black;
  }
}
